<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antonio.gestiontrabajotemporal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gtt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden">

            <!--
            android:configChanges="keyboardHidden|screenSize|orientation- no reinica la actividad al girar la pantalla ni al ocultar y mostrar teclado"
            android:windowSoftInputMode="stateHidden"-Ocultar teclado
            -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.Registro"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".pantallacalendario.PantallaCalendarioActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".pantallacalendario.PantallaCalendarioActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.antonio.gestiontrabajotemporal.pantallacalendario.PantallaCalendarioActivity" />
        </activity>
        <activity
            android:name=".turnos.TurnosActivity"
            android:label="@string/title_activity_turnos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".turnodetalle.TurnoDetalleActivity"
            android:label="@string/title_activity_turno_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".puestos.PuestosActivity"
            android:label="@string/title_activity_puestos"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".puestodetalle.PuestoDetalleActivity"
            android:label="@string/title_activity_puesto_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".calendarios.CalendariosActivity"
            android:label="@string/title_activity_calendarios"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".calendariodetalle.CalendarioDetalleActivity"
            android:label="@string/title_activity_calendario_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".fichajedetalle.FichajeDetalleActivity"
            android:label="@string/title_activity_fichaje_detalle"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.RecuperarPassword"
            android:label="@string/title_activity_recuperar_password"
            android:theme="@style/AppTheme" />

        <service android:name=".util.ServicioGTT">
            <intent-filter>
                <action android:name="com.example.antonio.gestiontrabajotemporal.util.MyService" />
            </intent-filter>
        </service>

        <receiver android:name=".util.MyBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".nominadetalle.NominaDetalle"
            android:label="@string/title_activity_nomina_detalle"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>