<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.antonio.gestiontrabajotemporal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_gtt"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <!--android:configChanges="keyboardHidden|screenSize|orientation- no reinica la actividad al girar la pantalla ni al ocultar y mostrar teclado"
            android:windowSoftInputMode="stateHidden"-Ocultar teclado-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.Registro"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <!--android:configChanges="keyboardHidden|screenSize|orientation- no reinica la actividad al girar la pantalla ni al ocultar y mostrar teclado"
            android:windowSoftInputMode="stateHidden"-Ocultar teclado-->
        </activity>

        <activity
            android:name=".ui.PantallaCalendario"
            android:windowSoftInputMode="stateHidden"
            android:configChanges="keyboardHidden|screenSize|orientation">
            <!--android:configChanges="keyboardHidden|screenSize|orientation- no reinica la actividad al girar la pantalla ni al ocultar y mostrar teclado"
            android:windowSoftInputMode="stateHidden"-Ocultar teclado-->
        </activity>

    </application>

</manifest>